<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 为javabean对象起别名，方便使用 -->
	<typeAliases>
		<!-- 批量自动的别名 -->
		<package name="com.darren.ssm.bean"/>
	</typeAliases>
</configuration>